<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="config/jdbcConfiguration.properties" />

    <typeAliases>
        <typeAlias type="com.xqk.nest.dto.UserInfoDTO" alias="UserInfo" />
        <typeAlias type="com.xqk.nest.dto.FriendInfoDTO" alias="FriendInfo" />
        <typeAlias type="com.xqk.nest.dto.PacketInfoDTO" alias="PacketInfo" />
        <typeAlias type="com.xqk.nest.dto.GroupInfoDTO" alias="GroupInfo" />
        <typeAlias type="com.xqk.nest.dto.MembersDTO" alias="Members" />
        <typeAlias type="com.xqk.nest.dto.GroupMemberInfoDTO" alias="GroupMemberInfo" />
        <typeAlias type="com.xqk.nest.websocket.dto.HistoryChatMessageDTO" alias="HistoryChatMessage" />
        <typeAlias type="com.xqk.nest.dto.Tuple" alias="Tuple" />
        <typeAlias type="com.xqk.nest.dto.Triple" alias="Triple" />
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/UserOptMapper.xml" />
        <mapper resource="mapper/GroupOptMapper.xml" />
        <mapper resource="mapper/AccountOptMapper.xml" />
        <mapper resource="mapper/MessageOptMapper.xml" />
    </mappers>

</configuration>