<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper">
    <select id="hasSignup" resultType="java.lang.String" parameterType="String">
        SELECT password
        FROM user_info
        WHERE username = #{username};
    </select>

    <select id="getUserId" resultType="java.lang.Long" parameterType="String">
        SELECT user_id
        FROM user_info
        WHERE username = #{username}
    </select>

    <insert id="singUp" parameterType="UserInfo">
        INSERT INTO user_info(username,avatar,sign,password)VALUES(#{username},#{avatar},#{sign},#{password});
    </insert>

    <select id="hasSignUp" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_info WHERE username=#{username} GROUP BY user_id;
    </select>
</mapper>