<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper">
    <select id="selectMsg" resultType="HistoryChatMessage" statementType="PREPARED" parameterType="HistoryMessagePagable" timeout="2000">
        SELECT * FROM
        <if test="type=='friend'">
            friend_msg
            AS A
            WHERE (A.id = #{id} AND A.rev_id=#{revId})
            OR (A.id = #{revId} AND A.rev_id=#{id})
        </if>
        <if test="type=='group'">
            group_msg
            AS A
            WHERE A.rev_id=#{revId}
        </if>
        ORDER BY A.timestamp DESC LIMIT #{start},#{limit};
    </select>

    <select id="selectCount" resultType="java.lang.Integer" statementType="PREPARED" parameterType="Triple" timeout="2000">
        SELECT COUNT(*) FROM
        <if test="c=='friend'">
            friend_msg
            AS A
            WHERE (A.id = #{a} AND A.rev_id=#{b})
            OR (A.id = #{b} AND A.rev_id=#{a})
        </if>
        <if test="c=='group'">
            group_msg
            AS A
            WHERE A.rev_id=#{b}
        </if>
    </select>

    <insert id="storeMsg" parameterType="HistoryChatMessage" statementType="PREPARED" timeout="2000">
        INSERT INTO
        <if test="type=='friend'">
            friend_msg
        </if>
        <if test="type=='group'">
            group_msg
        </if>
        (username,id,rev_id,avatar,timestamp,content)
        VALUES(#{username},#{id},#{revId},#{avatar},#{timestamp},#{content});
    </insert>

</mapper>